@model TestTask_Intetics_.Models.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarsOfClient</title>
</head>
<body>
<div>
    ...not been realized...
</div>
</body>
</html>
